:root {
  --amplify-primary-color: #{$blue-color-bottom};
  --amplify-primary-tint: #{$blue-color-top};
  --amplify-primary-shade: #{$azure-color-bottom};
  --amplify-font-family: #{$google-bona-nova-font};
}
